@font-face {
  font-family: "Fira Sans"; /* Nome que você usará no CSS */
  src: url("../Fira_Sans/FiraSans-Regular.woff2") format("woff2");
  font-weight: 400; /* Diz ao navegador que este arquivo é o "normal" */
  font-style: normal;
  font-display: swap; /* Boa prática de performance */
}

@font-face {
  font-family: "Fira Sans"; /* Deve ser o MESMO NOME da fonte regular */
  src: url("../Fira_Sans/FiraSans-Bold.woff2") format("woff2");
  font-weight: 700; /* Diz ao navegador que este arquivo é o "bold" */
  font-style: normal;
  font-display: swap;
}

/* <!----------------- GERAL -----------------> */
body {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", Arial, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}
