.header {
  display: flex;
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  justify-content: space-between;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 10px;
  justify-content: center;
}

.header-menu a {
  color: #141414;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1.125rem;
  line-height: 1.3rem;
  display: block;
}
.header-menu a:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }

  .header-logo {
    width: max-content;
    margin: 0 auto;
  }

  .header-menu {
    margin: 0;
  }

  .header-menu > li > a {
    background-color: #f5f5f5;
    border-radius: 4px;
  }
}
