@font-face {
  font-family: "Fira Sans"; /* Nome que você usará no CSS */
  src: url("../Fira_Sans/FiraSans-Regular.ttf") format("truetype");
  font-weight: 400; /* Diz ao navegador que este arquivo é o "normal" */
  font-style: normal;
  font-display: swap; /* Boa prática de performance */
}

@font-face {
  font-family: "Fira Sans"; /* Deve ser o MESMO NOME da fonte regular */
  src: url("../Fira_Sans/FiraSans-Bold.ttf") format("truetype");
  font-weight: 700; /* Diz ao navegador que este arquivo é o "bold" */
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
}

:root {
  --c1: #f5f5f5;
  --c2: #f0f0f0;
  --c3: #e0e0e0;
  --c4: #cccccc;
  --c5: #b8b8b8;
  --c6: #a3a3a3;
  --c7: #8f8f8f;
  --c8: #7a7a7a;
  --c9: #666666;
  --c10: #525252;
  --c11: #3d3d3d;
  --c12: #292929;
  --c13: #141414;
  --gradiente-v1: #b6f829;
  --gradiente-v2: #67dd0a;
  --g2-1: #b629f8;
  --g2-2: #800add;
}

/* <!-------------- Configurações Menu --------------->*/
header {
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 30px auto 60px auto;
}

header,
.menu {
  display: flex;
}

.menu {
  list-style: none;
  gap: 1.5rem;
}

.menu a {
  text-decoration: none;
  color: var(--c13);
}
.menu a:hover {
  text-decoration: underline;
}

/* <!-------------- Configurações Introdução --------------->*/
main {
  max-width: 1200px;
  margin: 0 auto;
}

article > .foto-perfil {
  max-width: 300px;
}

article {
  display: flex;
  align-items: center;
  position: relative;
}

article > .detalhe {
  /* DETALHE TITULO */
  width: 100px;
  position: absolute;
  z-index: -1;
  top: 80px;
  left: 350px;
}

.introducao > .titulo-intro {
  font-size: 4rem;
  color: var(--c13);
}

.titulo-intro,
.paragrafo-intro {
  margin-left: 5rem;
}
.paragrafo-intro {
  color: var(--c10);
}

.titulo-intro .introducao > p {
  font-size: 1.5rem;
}

/* <!-------------- Configurações Experiência --------------->*/
main > .corpo-part2 {
  margin-top: 5rem;
  margin-bottom: 30px;
  align-items: start;
}

.titulo-exp {
  color: var(--c3);
  font-weight: 700;
  font-size: 10rem;
  text-transform: uppercase;
  line-height: 160px;
  padding: 1.25rem 0.62rem;
  margin-right: 10rem;
}

.exp-info > p {
  font-weight: 400;
  font-size: 1.5rem;
  max-width: 570px;
  color: var(--c10);
  padding: 2.1rem 0;
}
.exp-info > p > strong {
  color: var(--c13);
}

/* <!-------------- Expêriencias-card --------------->*/
.card {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: var(--c1);
  padding: 20px;
  border-radius: 4px;
  position: relative;
  margin-bottom: 20px;
}

.card:before {
  /* DETALHE */
  content: "";
  width: 6px;
  height: 30px;
  background-image: linear-gradient(
    to bottom,
    var(--gradiente-v1),
    var(--gradiente-v2)
  );
  position: absolute;
  top: 15px;
  left: -5px;
}

.sub-titulo {
  position: relative;
}
.card .sub-titulo.bik::before {
  content: "2045";
  left: -90px;
}
.card .sub-titulo.surf::before {
  content: "2044-45";
  left: -113px;
}
.card .sub-titulo.brafe::before {
  content: "2044";
  left: -90px;
}
.card .sub-titulo:before {
  /* DETALHES ANO */
  font-size: 1rem;
  font-weight: 400;
  color: var(--c10);
  position: absolute;
  top: 3px;
}

.card > .bikcraft-stacks {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  padding: 10px 0;
  gap: 10px;
}

.card > p {
  align-self: center;
  color: var(--c10);
  margin-right: 20px;
}

.card-surfbot > p {
  padding: 15px 0;
}

.bikcraft-stacks > p {
  display: block;
  padding: 5px;
  background-color: white;
  border-radius: 4px;
  gap: 20px;
  height: 20px;
}

/* <!-------------- Configurações Formação --------------->*/
.corpo-part3 {
  background-color: var(--c13);
}

.titulo-form {
  color: #000000;
  font-weight: 700;
  font-size: 10rem;
  text-transform: uppercase;
  line-height: 160px;
  padding: 1.25rem 0.62rem;
  margin-right: 10rem;
}
